# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Variáveis de ambiente
# =========================
.env
backend/.env

# =========================
# Ambientes virtuais
# =========================
.venv/
venv/
env/

# =========================
# Vídeos e arquivos pesados
# =========================
*.mp4

# =========================
# IDEs
# =========================
.vscode/

# =========================
# Sistema operacional
# =========================
.DS_Store